/*Reset del buscador*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------------Body-------------------------------*/
body {
  background-color: #fada7a;
  min-height: 100vh; /* altura minima = altura de la pantalla */
  display: flex; /*como se comporta un elemento bloque/linea*/
  flex-direction: column;
}

/*-------------------------------Header-------------------------------*/
header {
  /*Posicionamiento*/
  position: sticky;
  top: 0;

  /*Espaciado*/
  padding: 15px;

  /*Visuales*/
  background-color: #3674b5;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  color: #f5eedd;
  text-decoration: none;
}

nav a:hover {
  color: #f5eedd;
  text-decoration: underline;
}

.boton-header {
  padding: 10px 15px;
  background-color: #06202b;
  border-radius: 30px;
}
.boton-header:hover {
  background-color: #021118;
}

/*-------------------------------Main-------------------------------*/

main {
  flex: 1; /* el main ocupa todo el espacio disponible de la pantalla */
}

/*-------Etiquetas de texto-------*/
h1 {
  padding: 30px;
  text-align: center;
}

h2 {
  padding: 10px;
  text-align: center;
}

h3 {
  padding: 20px;
  text-decoration: underline;
  text-decoration-color: #578fca;
  text-decoration-thickness: 1px;
}

p {
  padding: 3px 10px 5px 15px;
}

a {
  color: #3674b5;
  text-decoration: none;
}

/*-------Bloques-------*/
section {
  /*Posicionamiento*/
  margin: 0 auto;
  margin-bottom: 25px;

  /*Dimensiones*/
  width: 90%;

  /*Espaciado*/
  padding: 0px 25px 20px 25px;

  /*Visuales*/
  border-radius: 10px;
  background-color: #f5f0cd;
  border-left: 4px solid #3674b5;
}

.bloque-multimedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*-------Multimedia-------*/

.bloque-multimedia img {
  width: 40%;
  height: auto;
}

.bloque-multimedia iframe {
  width: 40%;
  height: 300px;
}

/*-------------------------------footer-------------------------------*/
footer {
  /*Visuales*/
  background-color: #3674b5;

  /*Texto*/
  padding-top: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    background-color: gray;
  }

  .bloque-multimedia {
    display: flex;
    flex-direction: column;
  }

  /*-------Multimedia-------*/
  .bloque-multimedia img {
    padding-bottom: 10px;
    width: 80%;
    height: auto;
  }
  .bloque-multimedia iframe {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: rgb(230, 24, 24);
  }

  .bloque-multimedia {
    display: flex;
    flex-direction: column;
  }

  .bloque-multimedia img {
    padding-bottom: 10px;
    width: 80%;
    height: 200%;
  }
  .bloque-multimedia iframe {
    width: 76%;
    height: auto;
  }
}
