/*Reset del buscador*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------------Body-------------------------------*/
body {
  background-color: #fada7a;
  min-height: 100vh; /* altura minima = altura de la pantalla */
  display: flex; /*como se comporta un elemento bloque/linea*/
  flex-direction: column;
}

/*-------------------------------Header-------------------------------*/
header {
  position: sticky;
  top: 0;
  padding: 15px;
  z-index: 1000;
  background-color: #3674b5;
}

nav .navbar-brand,
nav .nav-link {
  transition: transform 0.3s ease !important;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
nav .navbar-brand:hover,
nav .nav-link:hover {
  transform: scale(1.2);
}

/*-------------------------------Main-------------------------------*/
main {
  flex: 1; /* el main ocupa todo el espacio disponible de la pantalla */
}

/*-------Etiquetas de texto-------*/
h1 {
  padding: 30px;
  text-align: center;
}

h2 {
  padding: 10px;
  text-align: center;
}

h3 {
  padding: 20px;
  text-align: center;
}

p {
  padding: 3px 10px 5px 15px;
}

a {
  color: #3674b5;
  text-decoration: none;
}

/*-------Bloques-------*/
section {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 80%;
  padding: 0px 25px 20px 25px;
  border-radius: 10px;
  background-color: #f5f0cd;
  border-top: 4px solid #3674b5;
  border-bottom: 6px solid #3674b5;
  animation: pulso 2s infinite;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
section:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes pulso {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 128, 230, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(29, 67, 107, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(2, 11, 20, 0);
  }
}
.bloque-multimedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .bloque-multimedia {
    flex-direction: column;
  }
}
.bloque-multimedia img {
  width: 40%;
  height: auto;
  transition: transform 0.3s ease;
}
.bloque-multimedia img:hover {
  transform: scale(1.1);
}
.bloque-multimedia iframe {
  width: 40%;
  height: auto;
  transition: transform 0.3s ease;
  height: 300px;
}
.bloque-multimedia iframe:hover {
  transform: scale(1.1);
}

/*-------------------------------footer-------------------------------*/
footer {
  background-color: #3674b5;
  padding-top: 14px;
  text-align: center;
}
footer p {
  color: white;
  overflow: hidden;
  border-right: 2px solid;
  white-space: nowrap;
  margin: 0 auto;
  display: inline-block;
  animation: copiando 6s steps(40, end), animacion-barra 0.75s step-end infinite;
}

@keyframes copiando {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes animacion-barra {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@media (max-width: 768px) {
  .bloque-multimedia {
    display: flex;
    flex-direction: column;
  }
  .bloque-multimedia img {
    padding-bottom: 10px;
    width: 80%;
    height: auto;
  }
  .bloque-multimedia iframe {
    width: 80%;
    height: auto;
  }
  footer p {
    white-space: normal;
    border-right: none;
    animation: none;
    display: block;
  }
}
@media (max-width: 768px) and (min-width: 769px) and (max-width: 1024px) {
  .bloque-multimedia {
    display: flex;
    flex-direction: column;
  }
  .bloque-multimedia img {
    padding-bottom: 10px;
    width: 80%;
    height: 200%;
  }
  .bloque-multimedia iframe {
    width: 76%;
    height: auto;
  }
  footer p {
    white-space: normal;
    border-right: none;
    animation: none;
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
